<section class="page-section bg-light" id="testimonials">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Testimonials</h2>
                    <h3 class="section-subheading text-muted">What colleagues and leaders from large-scale operations have said</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="testimonial-item">
                            <p class="text-muted">
                                "I was told how much the regional and global teams appreciate the automated tool for uploading quality findings that you and your colleague developed.<br>
                                I really admire the creativity and innovation behind it!<br>
                                There's interest in making it the global standard — a major win for our region and the entire organization."
                            </p>
                            <p class="text-muted"><em> - Site Leader, Global Manufacturing Facility (2,000+ employees)</em></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonial-item">
                            <p class="text-muted">
                                "Eric has a natural curiosity that fuels him as a technical problem solver. <br>
                                He is an excellent technical mentor, who helped me greatly in SAP as we worked together to improve production, scrap, and uptime reporting. <br>
                                He has a desire for continuous improvement and the technical skill set to greatly benefit any team. I really enjoyed working with Eric, and we accomplished much at Sabic together."
                            </p>
                            <p class="text-muted"><em> - Senior Production Engineer</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>